{% extends "base.html" %}

{% block content %}

    <h1> {{ course.course_name }}</h1>

    <div style="border-style: solid; padding-left: 15px; padding-top: 5px;">
        <h3> <b>Course Information</b> </h3>
        <h6> <b>Section Number:</b> {{ section.section }}</h6>
        <h6> <b>Section Type:</b> {{ section.section_type }} </h6>
        <h6> <b>Section Limit:</b> {{ section.limit }}</h6>
        <h6> <b>Course Description:</b> {{ course.course_description }}</h6>
    </div>
    <br>

    {% if is_student %}

        <div style="border-style: solid; padding-left: 15px; padding-top: 5px;">
            <h3> <b>Professor Information</b></h3>
            {% for professor in professors %}
                <h6><b>Professor:</b> {{ professor.name }}</h6>
                <h6><b>Email:</b> {{ professor.user.email }}</h6>
                <h6><b>Office:</b> {{ professor.office_address }}</h6>
            {% endfor %}
        </div>
        <br>
        <div style="border-style: solid; padding-left: 15px; padding-top: 5px;">
            <h3> <b>Course Grades</b></h3>
            <table style="width: 100%";>
                <tr style="background-color: #093162;">
                    <th style="color: white";>Assignment Type</th>
                    <th style="color: white";>Number</th>
                    <th style="color: white";>Details</th>
                    <th style="color: white";>Average</th>
                    <th style="color: white";>Min</th>
                    <th style="color: white";>Max</th>
                    <th style="color: white";>Grade</th>
                </tr>
            {% for hw_grade in hw_grades %}
                <tr>
                    <th>Homework</th>
                    <th>{{ hw_grade.0.homework.hw_no }}</th>
                    <th>{{ hw_grade.0.homework.hw_details }}</th>
                    <th>{{ hw_grade.1 }}</th>
                    <th>{{ hw_grade.2 }}</th>
                    <th>{{ hw_grade.3 }}</th>
                    <th>{{ hw_grade.0.grade }}</th>
                </tr>
            {% endfor %}
            {% for exam_grade in exam_grades %}
                <tr>
                    <th>Exam</th>
                    <th>{{ exam_grade.0.exam.exam_no }}</th>
                    <th>{{ exam_grade.0.exam.exam_details }}</th>
                    <th>{{ exam_grade.1 }}</th>
                    <th>{{ exam_grade.2 }}</th>
                    <th>{{ exam_grade.3 }}</th>
                    <th>{{ exam_grade.0.grade }}</th>
                </tr>
            {% endfor %}
            </table>
        </div>
    {% else %}
        <div style="border-style: solid; padding-left: 15px; padding-top: 5px;">
            <h3> <b>Enrolled Students</b></h3>
            <table style="width: 100%";>
                <tr style="background-color: #093162;">
                    <th style="color: white";>Name</th>
                    <th style="color: white";>Email</th>
                    <th style="color: white";>Phone</th>
                    <th style="color: white";>Major</th>
                </tr>
                {% for student in students %}
                    <tr>
                        <th>{{ student.name }}</th>
                        <th>{{ student.user.email }}</th>
                        <th>{{ student.phone }}</th>
                        <th>{{ student.major }}</th>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <br>
        <div style="border-style: solid; padding-left: 15px; padding-top: 5px;">
            <h3> <b>Assignments</b></h3>
            <table style="width: 100%";>
                <tr style="background-color: #093162;">
                    <th style="color: white";>Assignment Type</th>
                    <th style="color: white";>Number</th>
                    <th style="color: white";>Details</th>
                    <th style="color: white";>Average</th>
                    <th style="color: white";>Min</th>
                    <th style="color: white";>Max</th>
                    <th style="color: white";>Action</th>
                </tr>
                {% for hw in hws %}
                    <tr>
                    <th>Homework</th>
                    <th>{{ hw.0.hw_no }}</th>
                    <th>{{ hw.0.hw_details }}</th>
                        <th>{{ hw.1 }}</th>
                        <th>{{ hw.2 }}</th>
                        <th>{{ hw.3 }}</th>
                    <th><a href="{% url 'hw-detail' hw.0.pk %}"><button>Submit Grades</button></th>
                    </tr>
                {% endfor %}
                {% for exam in exams %}
                    <tr>
                    <th>Exam</th>
                    <th>{{ exam.0.exam_no }}</th>
                    <th>{{ exam.0.exam_details }}</th>
                        <th>{{ exam.1 }}</th>
                        <th>{{ exam.2 }}</th>
                        <th>{{ exam.3 }}</th>
                        <th><a href="{% url 'exam-detail' exam.0.pk %}"><button>Submit Grades</button></a></th>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <br>
        <a href="{% url 'hw-creation' section.pk %}"> <button> Create Homework</button> </a>
        <br><br>
        <a href="{% url 'exam-creation' section.pk %}"> <button> Create Exam</button> </a>



    {% endif %}

{% endblock content %}