{%  extends "base.html" %}

{% block content %}

    <div style="padding-right: 700px;">
    <h1> Welcome to CanvasPath</h1> <br>
    <h5 style="color: red"> This platform is currently under development for Lion State University. Estimated completion date is
    April 22, 2019.</h5> <br>
    <p> CanvasPath is intended to be used as a course management system for students and professors at the Lion
    State University. Users may view their University profile information and update their password through the Profile page. All necessary
    information to be viewed by students and professors regarding courses can be seen in the Dashboard. Students will see their enrolled
    courses, professor contact information, and capstone team members. Professors will be able to see all courses that they are teaching,
    and any professor teams that they are in. Professors will have three additional views for creating assignments, organizing teams, and
    submitting scores for assignments and exams. Students will have on additional view to enroll in courses.</p>
    </div>

{% endblock content %}