{%  extends "base.html" %}

{% block content %}

    <div style="padding-right: 1000px;">
    <h1> Welcome to CanvasPath</h1> <br>
    <h5 style="color: red"> This platform is currently under development for Lion State University. Estimated completion date is
    April 22, 2019.</h5> <br>
    <p> CanvasPath is intended to be used as a course management system for students and professors at the Lion
    State University. Users may view their University profile information and update their password. All necessary
    information to be viewed by students and professors can be seen in the Dashboard. </p>
    </div>

{% endblock content %}